.styled-table td:nth-child(1) {
    width: 200px; /* Atur lebar sesuai kebutuhan */
    max-width: 200px; /* Batasi lebar maksimum jika diperlukan */
    word-wrap: break-word; /* Memastikan teks panjang memanjang ke bawah */
}

 .styled-table td:nth-child(2) {
    width: 400px; /* Atur lebar sesuai kebutuhan */
    max-width: 400px; /* Batasi lebar maksimum jika diperlukan */
    word-wrap: break-word; /* Memastikan teks panjang memanjang ke bawah */
}


.styled-table td:nth-child(7) {
    width: 180px; /* Atur lebar sesuai kebutuhan */
    max-width: 180px; /* Batasi lebar maksimum jika diperlukan */
    word-wrap: break-word; /* Memastikan teks panjang memanjang ke bawah */
}



